<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maiores fugit, atque id dolore quis! Recusandae vero fuga pariatur deserunt accusantium necessitatibus vitae, inventore reiciendis eum magnam, alias quasi dicta?</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, veniam vitae, rem officiis dignissimos deleniti possimus dolorum nostrum sequi corrupti itaque, voluptatem assumenda ducimus. Repellat dolore accusantium aut eveniet error.</p>
        </ul>
        <ul>
            <li><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maiores fugit, atque id dolore quis! Recusandae vero fuga pariatur deserunt accusantium necessitatibus vitae, inventore reiciendis eum magnam, alias quasi dicta?</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, veniam vitae, rem officiis dignissimos deleniti possimus dolorum nostrum sequi corrupti itaque, voluptatem assumenda ducimus. Repellat dolore accusantium aut eveniet error.</p>
        </ul>
        <ul>
            <li><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maiores fugit, atque id dolore quis! Recusandae vero fuga pariatur deserunt accusantium necessitatibus vitae, inventore reiciendis eum magnam, alias quasi dicta?</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, veniam vitae, rem officiis dignissimos deleniti possimus dolorum nostrum sequi corrupti itaque, voluptatem assumenda ducimus. Repellat dolore accusantium aut eveniet error.</p>
        </ul>
    </div>
</div>