<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged" >
            Nueva Experiencia

        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td><h2>{{Experiencia.nombreE}}</h2></td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td><i class="bi bi-pencil-square"></i>editar</td>
                    <td><i class="bi bi-pencil-square"></i>borrar</td>
                </tr>
            </tbody>
    
        </table>

    </div>
   
</div>