<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Instituto Técnico Superior Juan Vucetich</h1> - <h3>2015</h3></li>
            <p> Perito en Acciodentología Vial</p>
        </ul>
        <ul>
            <li><h1>Biblioteca Pública General San Martin</h1> - <h3>2019</h3></li>
            <p>Curso de Fotografía e Iluminación</p>
        </ul>
        <ul>
            <li><h1>Le Wagon</h1> - <h3>2020</h3></li>
            <p>Workshop Introductorio a HTML5 y CSS</p>
        </ul>
        <ul>
            <li><h1>EggCoperation</h1> - <h3>2021</h3></li>
            <p>Curso Programación FullStack</p>
        </ul>
        <ul>
            <li><h1>Fundación Educativa Santísima Trinidad (FESAT) </h1> - <h3>2022</h3></li>
            <p>Curso Introductorio al lenguaje Python</p>
        </ul>
        <ul>
            <li><h1>Universidad Tecnológica Nacional (UTN) </h1> - <h3>2022</h3></li>
            <p>Ingeniería en Sistemas</p>
        </ul>
    </div>
</div>
